*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* typography and icons */

h1 {
  color: #0f8cdf;
  margin-bottom: 10px;
  font-size: 20px;
}

i {
  font-size: 15px;
  cursor: pointer;
  transition: all 0.1s ease;
}

i:hover {
  transform: scale(1.2);
}

.fa-solid {
  color: #999;
}

.fa-trash:hover {
  color: rgb(219, 5, 5);
}

.liked {
  color: red;
}

.retweeted {
  color: limegreen;
}

/* layout */

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

header {
  padding-bottom: 25px;
}

.tweet-input-area {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

/* textareas + btn + input */

textarea {
  border: none;
  resize: none;
  padding: 10px;
  margin: 0 0 20px 0;
  height: 60px;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
}

button {
  background-color: #1da1f2;
  border: none;
  color: white;
  padding: 10px 19px;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.reply-btn {
  font-size: 12px;
  width: 25%;
  padding: 7px 8px;
  transition: none;
  align-self: center;
}

.reply-btn:hover,
.reply-btn:active {
  transform: none;
  letter-spacing: 0px;
}

button:hover,
button:active {
  transform: scale(1.05);
  letter-spacing: 2px;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 14px;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 14px;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 14px;
  color: #9b9b9b;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 14px;
    color: #1da1f2;
    font-weight: 700;
  }
  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, #1da1f2, #0887c2);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

/* tweet */

.tweet {
  border-top: 1px solid lightgray;
  padding: 20px 0 0 0;
  margin: 15px 0;
}

.tweet-inner {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.tweet-inner > div {
  flex: 1;
  min-width: 0;
}

.tweet-details {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
}

.tweet-detail {
  display: flex;
  gap: 4px;
}

.tweet-reply {
  border-top: 1px solid lightgray;
  padding: 20px 0 0 0px;
  margin: 10px 0 10px 40px;
  width: 80%;
}

.handle {
  font-size: 12px;
  font-weight: 500;
  color: #555;
  margin-top: 0;
}

.tweet-text {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
}

/* images */

.profile-pic {
  border: 1px solid lightgray;
  border-radius: 50%;
  width: 48px;
}

/* utility */
.hidden {
  display: none;
}

@media (min-width: 992px) {
  main {
    max-width: 600px;
  }
}

@media (max-width: 991.98px) {
  main {
    max-width: 500px;
  }
}

@media (max-width: 767.98px) {
  main {
    max-width: 420px;
    padding: 15px 16px;
  }

  textarea {
    font-size: 18px;
  }
}

@media (max-width: 575.98px) {
  main {
    max-width: 100%;
    box-shadow: none;
  }

  h1 {
    font-size: 18px;
  }

  textarea {
    font-size: 16px;
    height: 50px;
  }

  button {
    font-size: 18px;
  }

  .tweet-reply {
    margin-left: 20px;
    width: 90%;
  }

  .tweet-details {
    display: flex;
  }
}
